* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.grid-container {
    display: grid;
    grid-template:
        "header" auto "main" 1fr "footer"auto;
}

nav .fa-solid {
    display: none;
}