@import './global';
@import './variables';
@import './mixins';
@import './layouts/footer';
@import './layouts/main';
@import './layouts/header';
@import './pages/products';
@import './pages/home';
@import './pages/fabrica';