.main{
    grid-area: main;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)), url("./../img/cerveza.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}